<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.plugins.git.GitSCM" plugin="git@2.4.4">
    <configVersion>2</configVersion>
    <userRemoteConfigs>
      <hudson.plugins.git.UserRemoteConfig>
        <url>https://github.com/SS-IT-Academy/EasyWay.git</url>
        <credentialsId>23c798a5-0629-4baf-a793-5b6592c7040c</credentialsId>
      </hudson.plugins.git.UserRemoteConfig>
    </userRemoteConfigs>
    <branches>
      <hudson.plugins.git.BranchSpec>
        <name>*/master</name>
      </hudson.plugins.git.BranchSpec>
    </branches>
    <doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
    <submoduleCfg class="list"/>
    <extensions/>
  </scm>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>cd $WORKSPACE
# set env vars
export GEM_PATH=$WORKSPACE/vendor
export CI_REPORTS=results
export RAILS_ENV=test
gem install bundler
bundle

rake spec
# Prepare for rcov
  #[ -d &quot;coverage&quot; ] &amp;&amp; rm -rf coverage
  #mkdir coverage
# invoke rake
#rake db:create db:migrate ci:setup:testunit test:test:rcov --trace RCOV_PARAMS=&quot;-I/usr/local/lib/ruby/gems/1.8/gems --aggregate coverage/aggregate.data&quot;
</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers/>
  <buildWrappers/>
</project>